table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: blue;
    color: white;
    padding: 10px;
}

td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

img {
    width: 100px; 
    height: auto;
}
